@-webkit-keyframes mw-kfr-loading {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes mw-kfr-loading {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes mw-kfr-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

mw-block {
  display: block;
  position: relative;
}

mw-block img{
  max-width: 100%;
}

.mw-loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.mw-loading-icon {
  display: block;
  height: 48px;
  width: 48px;
  position: absolute;
  z-index: 100000000000;
  top: 50%;
  left: 50%;
  margin: -24px auto auto -24px;
  border: 3px solid rgba(255,255,255,0);
  border-top: 3px solid rgba(255,255,255,0.8);
  border-left: 2px dotted rgba(255,255,255,0.6);
  border-bottom: 1px dashed rgba(255,255,255,0.2);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0, 1);

  -webkit-animation: mw-kfr-loading 0.8s linear infinite;
  -moz-animation: mw-kfr-loading 0.8s linear infinite;
  animation: mw-kfr-loading 0.8s linear infinite;
}

.mw-block-dialog-toolbar {
  position: absolute;
  top: 0;
  right:0;
  height: auto;
  width: auto;
  z-index: 1;
}

.mw-block-dialog {
  position: fixed;
  background-color: #fff;
  overflow: auto;
  z-index: 10000000;
  transition: 0.3s;
}

.mw-block-dialog.show {
  height: inherit !important;
  width: auto !important;
  top:0 !important;
  left: 0 !important;
  bottom:0 !important;
  right:0 !important;
}

.mw-block-dialog iframe {
  height: 100%;
  width: 100%;
}

.closeMWBlock {
  display: block;
  border-radius: 64px;
  width: 48px;
  height: 48px;
  background-color: #00aaff;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.closeMWBlock:before,
.closeMWBlock:after {
  content: " ";
  display: block;
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 80%;
  transform: rotate(45deg);
}

.closeMWBlock:after {
  transform: rotate(-45deg);
}

/*下载链接*/
#mw-download-tips {
  display: none;
  position: fixed;
  z-index: 9990;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 85% auto;
}

#mw-download-tips.android {
  display: block;
  background-image: url("http://activity.test.magicwindow.cn/common/asserts/navigator-modal/bg-android.png");
}

#mw-download-tips.ios {
  display: block;
  background-image: url("http://activity.test.magicwindow.cn/common/asserts/navigator-modal/bg-ios.png");
}
